

body{
    background-color: rgb(139, 138, 138);
    margin:0;
    font-family: 'Poppins', sans-serif;
}

.banner{
    font-size: 4em;
}
.logo{
    font-size: 3.2em;
    margin-left: 2%;
}
.add-sign{
    font-size:2em;
    cursor: pointer;
}
.input{
    width: 50%;
}

.add-sign:hover,.remove-sign:hover{
    color:rgb(226, 115, 11);
}
.remove-sign{
    font-size:1.5em;
    cursor:pointer;
    margin-left: 0.5em;
}