

body{
    background-color: rgb(139, 138, 138);
    margin:0;
    font-family: 'Poppins', sans-serif;
}

.banner{
    font-size: 4em;
}
.logo{
    font-size: 3.2em;
    margin-left: 2%;
}
.add-sign, .minus-sign{
    font-size:2em;
    cursor: pointer;
}
.input{
    width: 50%;
}

.add-sign:hover, .minus-sign:hover{
    color:rgb(226, 115, 11);
    font-size:2.2em;
}